<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ASK JARVIS - Train JARVIS</title>
  <link rel="shortcut icon" type="image/png" href="/static/images/logos/favicon.ico" />
  <link rel="stylesheet" href="/static/css/styles.min.css" />
  <link rel="stylesheet" href="/static/css/custom.css" />
  <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap-grid.min.css" />
</head>
<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {% include 'sidebar.html' %}
    <!--  Main wrapper -->
    <div class="body-wrapper">
      {% include 'header.html' %}
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Tags</h5>
            {% if success_message %}
              <div class="alert alert-success" role="alert">
                {{success_message}}
              </div>
            {% endif %}
            {% if error_message %}
              <div class="alert alert-danger" role="alert">
                {{error_message}}
              </div>
            {% endif %}
            <div class="card">
              <div class="card-body">
                <form action="{{url_for('admin_blueprint.save_tags')}}" method="POST">
                  <div class="mb-3">
                    <label for="tag" class="form-label">Tag name</label>
                    <input type="text" class="form-control" id="tag" aria-describedby="tagHelp" name="tag">
                    <div id="tagHelp" class="form-text">Tag for Jarvis training</div>
                  </div>
                  <button type="submit" class="btn btn-primary">Create New</button>
                </form>
              </div>
            </div>
            <form action="{{url_for('admin_blueprint.list')}}" method="GET">
              <div class="input-group mb-3">
                  <input type="hidden" name="pageNo" value="1" />
                  <input type="text" name="q" value="{{query}}" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-dark" type="submit"><i class="ti ti-search"></i> Search</button>
                  </div>
                </div>
            </form>
            <div class="scrollarea" >
              <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for item in lists %}
                      <tr>
                          <td scope="row">{{item['id']}}</td>
                          <td>{{item['name']}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-end">
                <li class="page-item {{ 'disabled' if currentPageNo == 1  else ''}}"><a class="page-link" href="{{url_for('admin_blueprint.list', pageNo=(currentPageNo-1), q=query)}}">Previous</a></li>
                {% for pageNo in page_numnbers %}
                <li class="page-item {{ 'active' if pageNo == currentPageNo else ''}}"><a class="page-link" href="{{url_for('admin_blueprint.list', pageNo=pageNo, q=query)}}">{{pageNo}}</a></li>
                {% endfor %}
                <li class="page-item {{ 'disabled' if currentPageNo == lastPageNo  else ''}}"><a class="page-link" href="{{url_for('admin_blueprint.list', pageNo=(currentPageNo+1), q=query)}}">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>
  </div>
  <script src="/static/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/sidebarmenu.js"></script>
  <script src="/static/js/app.min.js"></script>
  <script src="/static/libs/simplebar/dist/simplebar.js"></script>
</body>
</html>
