<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ASK JARVIS - Train JARVIS</title>
  <link rel="shortcut icon" type="image/png" href="/static/images/logos/favicon.ico" />
  <link rel="stylesheet" href="/static/css/styles.min.css" />
</head>
<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {% include 'sidebar.html' %}
    <!--  Main wrapper -->
    <div class="body-wrapper">
      {% include 'header.html' %}
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Train Jarvis</h5>
            <div class="card">
              <div class="card-body">
                <form action="{{url_for('admin_blueprint.save_jarvis')}}" method="POST">
                  <div class="mb-3">
                    <label for="in_response_to" class="form-label">Question</label>
                    <input type="text" name="in_response_to" class="form-control" id="in_response_to">
                  </div>
                  <div class="mb-3">
                    <label for="search_in_response_to" class="form-label">Search in response to</label>
                    <input type="text" name="search_in_response_to" class="form-control" id="search_in_response_to">
                  </div>
                  <div class="mb-3">
                    <label for="conversation" class="form-label">Conversation</label>
                    <select class="form-select" name="conversation" aria-label="select">
                      <option value="training" selected>Training</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="text" class="form-label">Bot response</label>
                    <input class="form-control" name="text" list="datalistOptions" id="text" placeholder="">
                    <datalist id="datalistOptions">
                      {% for bot in bot_responses %}
                      <option value="{{bot.response}}">
                      {% endfor %}
                    </datalist>
                  </div>
                  <div class="mb-3">
                    <label for="search_text" class="form-label">Search Text</label>
                    <input type="text" name="search_text" class="form-control" id="search_text">
                  </div>
                  <div class="mb-3">
                    <label for="persona" class="form-label">Persona</label>
                    <input type="text" name="persona" class="form-control" id="persona">
                  </div>
                  <div class="mb-3">
                    <label for="tags" class="form-label">Tags</label>
                    <select class="form-select" name="tags" multiple aria-label="multiple select">
                      {% for tag in tags %}
                      <option value="{{tag.name}}">{{tag.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </div>
    </div>
  </div>
  <script src="/static/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/sidebarmenu.js"></script>
  <script src="/static/js/app.min.js"></script>
  <script src="/static/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>