h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 60px;
}

#chatter-box-loader {
    margin-top: 60px;
    display: none;
}

#chatter-box-loader i.ti {
    font-size: 24px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
}

.userText {
    color: white;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #AD7AFF;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}


.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 10px;
    position: relative;
    top: 8px;
}

.dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dots span:nth-child(1) {
    animation: dots 1s infinite;
    animation-delay: 0s;
}

.dots span:nth-child(2) {
    animation: dots 1s infinite;
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation: dots 1s infinite;
    animation-delay: 0.4s;
}
  